body {
  width: 100%;
  min-height: 100%; 
  margin: 0; 
  padding: 0;
  background-color: yellow;
}

header {
  position: fixed; 
  width: 100%;
  height: 135; 
  padding-top: 5px; 
  background-color: green; 
  text-align: center; 
}

main {
  padding-top: 135px; 
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  background-color: yellow;
  font-family: 'Stylish', sans-serif;
}

#ans-0, #ans-1, #ans-2, #ans-3 { 
  margin-right: 15px; 
  height: 30px; 
}

ol { 
  list-style-type: upper-alpha; 
}

ul { 
  list-style-type: none; 
}


li {
  margin-bottom: 5px; 
  letter-spacing: 2px; 
  margin-left: auto; 
  margin-right: auto;
}

#final-page { 
  text-align: center; 
  font-size: 30px; 
  color: green; 
}

#start-button {
  display: inline-block; 
  height: 75px; 
  width: 350px; 
  background-color: green; 
  color: yellow; 
  border: none; 
  font-size: 30px; 
  cursor: pointer;
  margin-top: 100px; 
  margin-bottom: 100px;
}

#submit-button {
  display: inline-block; 
  background-color: green; 
  color: yellow; 
  border: none; 
  height: 150; 
  width: 300px; 
  cursor: pointer; 
  font-size: 25px; 
}

#reset-button {
  display: inline-block; 
  height: 150; 
  width: 300px;
  background-color: orange; 
  color: orangered; 
  border: none; 
  cursor: pointer; 
  font-size: 25px;
}

#next-button { 
  height: 150; 
  width: 300px; 
  background-color: green; 
  color: yellow; 
  border: none;
  cursor: pointer; 
  font-size: 25px;
}



.first-instruction { 
  font-size: 35px; 
  margin-bottom: 150px; 
  color: Green; 
}

.second-instruction { 
  font-size: 20px; 
  margin: 10; 
  color: orange; 
}

.page-title {
  font-family: 'courier'; 
  color: yellow;
  font-size: 35px; 
  margin: 0; 
}

.scoreboard {  
  font-size: 20px; 
  max-height: 100px; 
  color: orangered; 
  padding: 5px;  
  margin: 0;
  text-align: center;
}


.instructions { 
  color: green;  
  text-align: center; 
  width: 100%;
}


.quiz-box {


  border-style: none;
  text-align: center; 
  font-size: 25px;
  margin: 0;
}

.choices-outside {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1.3)), url('https://ia.media-imdb.com/images/M/MV5BMTU0NDM2MTUyOF5BMl5BanBnXkFtZTgwMjU5ODY3MTE@._V1_SY1000_CR0,0,1546,1000_AL_.jpg');
  background-size: 100%; 
  background-repeat: no-repeat; 
  height: 150; 
  width: 50%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 5px; 
  margin-bottom: 5px; 
  padding-top: 20px; 
  padding-bottom: 20px; 
}


.choices-inside { 
  font-size: 25; 
  color: rgb(255, 225, 52);
}

.quiz-question-number { 
  font-size: 25px; 
  color: green; 
}

.question {
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  max-width: 400px; 
  font-size: 25px; 
  background-color: green; 
  color: yellow; 
  padding: 10px;
}

.result-img {
  display: block ;
  height: 300px; 
  margin-top: 5px; 
  margin-bottom: 10px; 
}

.correct-alert { 
  text-align: center; 
}

.incorrect-alert {
  text-align: center; 
}

img { 
  border-radius: 50%; 
}

.home-button {
  height: 75px; 
}

.feedback-img {
  height: 300px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 5px; 
  margin-bottom: 5px; 
}

.correct-alert {
  text-align: center; 
}

.incorrect-alert {
  text-align: center; 
} 

.alert-text {
  font-size: 40px; 
  color: green; 
  margin: 5px;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/


.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}